.vs
.idea
node_modules
__pycache__
**/go.sum
專題指導老師.pdf
AzureCould/20221103/model.pb.png
*.mp4
AzureCould/20221208/azureMid2/statics/Flutter Google Map With Live Location Tracking.wav
AzureCould/20221208/azureMid2/substitles/Flutter Google Map With Live Location Tracking.srt
**/*.mkv
**/*.ppt
**/*.pttx
business_BigData/final/Big Data-final第十一組.pptx
*/YT-BBBGGGMMM/
