.vs
.idea
.vscode
node_modules
__pycache__
**/go.sum
AzureCould/20221103/model.pb.png
*.mp4
*.aif
*.aiff
*.wav
*.docx
*.pttx

**/*.mp3
!歪なる契約者/*.mp3

AzureCould/20221208/azureMid2/statics/Flutter Google Map With Live Location Tracking.wav
AzureCould/20221208/azureMid2/substitles/Flutter Google Map With Live Location Tracking.srt
**/*.mkv
**/*.ppt
**/*.pttx
business_BigData/final/Big Data-final第十一組.pptx
*/YT-BBBGGGMMM/
**/HW_Compressed/
**/note&exercise
**/bin/
**/obj/
ML_application/C109152304.zip

# 必須先擋掉所有檔案，才能加入不能擋的特殊例外！
# 如26-28行
CSharpScripts/*
!CSharpScripts/*.csx
!CSharpScripts/readme.md

*/*.autosave.csx
ArticleMVC/dist.zip
ArticleMVC/dist/*