.vs
.idea
.vscode
node_modules
__pycache__
**/go.sum
AzureCould/20221103/model.pb.png
*.mp4
*.mp3
*.aif
*.aiff
*.wav
*.docx
*.pttx
AzureCould/20221208/azureMid2/statics/Flutter Google Map With Live Location Tracking.wav
AzureCould/20221208/azureMid2/substitles/Flutter Google Map With Live Location Tracking.srt
**/*.mkv
**/*.ppt
**/*.pttx
business_BigData/final/Big Data-final第十一組.pptx
*/YT-BBBGGGMMM/
**/HW_Compressed/
**/note&exercise
**/bin/
**/obj/
ML_application/C109152304.zip

# 必須先擋掉所有檔案，才能加入不能擋的特殊例外！
# 如26-28行
CSharpScripts/*
!CSharpScripts/*.csx
!CSharpScripts/readme.md

*/*.autosave.csx
ArticleMVC/dist.zip
ArticleMVC/dist/appsettings.Development.json
ArticleMVC/dist/appsettings.json
ArticleMVC/dist/ArticleApplication.deps.json
ArticleMVC/dist/ArticleApplication.dll
ArticleMVC/dist/ArticleApplication.exe
ArticleMVC/dist/ArticleApplication.pdb
ArticleMVC/dist/ArticleApplication.runtimeconfig.json
ArticleMVC/dist/Azure.Core.dll
ArticleMVC/dist/Azure.Identity.dll
ArticleMVC/dist/Bogus.dll
ArticleMVC/dist/dotnet-aspnet-codegenerator-design.dll
ArticleMVC/dist/Humanizer.dll
ArticleMVC/dist/Microsoft.AspNetCore.Razor.Language.dll
ArticleMVC/dist/Microsoft.Bcl.AsyncInterfaces.dll
ArticleMVC/dist/Microsoft.Build.dll
ArticleMVC/dist/Microsoft.Build.Framework.dll
ArticleMVC/dist/Microsoft.CodeAnalysis.AnalyzerUtilities.dll
ArticleMVC/dist/Microsoft.CodeAnalysis.CSharp.dll
ArticleMVC/dist/Microsoft.CodeAnalysis.CSharp.Features.dll
ArticleMVC/dist/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
ArticleMVC/dist/Microsoft.CodeAnalysis.dll
ArticleMVC/dist/Microsoft.CodeAnalysis.Elfie.dll
ArticleMVC/dist/Microsoft.CodeAnalysis.Features.dll
ArticleMVC/dist/Microsoft.CodeAnalysis.Razor.dll
ArticleMVC/dist/Microsoft.CodeAnalysis.Scripting.dll
ArticleMVC/dist/Microsoft.CodeAnalysis.Workspaces.dll
ArticleMVC/dist/Microsoft.Data.SqlClient.dll
ArticleMVC/dist/Microsoft.Data.Sqlite.dll
ArticleMVC/dist/Microsoft.DiaSymReader.dll
ArticleMVC/dist/Microsoft.DotNet.Scaffolding.Shared.dll
ArticleMVC/dist/Microsoft.EntityFrameworkCore.Abstractions.dll
ArticleMVC/dist/Microsoft.EntityFrameworkCore.dll
ArticleMVC/dist/Microsoft.EntityFrameworkCore.Relational.dll
ArticleMVC/dist/Microsoft.EntityFrameworkCore.Sqlite.dll
ArticleMVC/dist/Microsoft.EntityFrameworkCore.SqlServer.dll
ArticleMVC/dist/Microsoft.Extensions.DependencyModel.dll
ArticleMVC/dist/Microsoft.Identity.Client.dll
ArticleMVC/dist/Microsoft.Identity.Client.Extensions.Msal.dll
ArticleMVC/dist/Microsoft.IdentityModel.Abstractions.dll
ArticleMVC/dist/Microsoft.IdentityModel.JsonWebTokens.dll
ArticleMVC/dist/Microsoft.IdentityModel.Logging.dll
ArticleMVC/dist/Microsoft.IdentityModel.Protocols.dll
ArticleMVC/dist/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
ArticleMVC/dist/Microsoft.IdentityModel.Tokens.dll
ArticleMVC/dist/Microsoft.NET.StringTools.dll
ArticleMVC/dist/Microsoft.SqlServer.Server.dll
ArticleMVC/dist/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
ArticleMVC/dist/Microsoft.VisualStudio.Web.CodeGeneration.dll
ArticleMVC/dist/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
ArticleMVC/dist/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
ArticleMVC/dist/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
ArticleMVC/dist/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
ArticleMVC/dist/Microsoft.Win32.SystemEvents.dll
ArticleMVC/dist/MySqlConnector.dll
ArticleMVC/dist/Newtonsoft.Json.dll
ArticleMVC/dist/NuGet.Common.dll
ArticleMVC/dist/NuGet.Configuration.dll
ArticleMVC/dist/NuGet.DependencyResolver.Core.dll
ArticleMVC/dist/NuGet.Frameworks.dll
ArticleMVC/dist/NuGet.LibraryModel.dll
ArticleMVC/dist/NuGet.Packaging.dll
ArticleMVC/dist/NuGet.ProjectModel.dll
ArticleMVC/dist/NuGet.Protocol.dll
ArticleMVC/dist/NuGet.Versioning.dll
ArticleMVC/dist/Pomelo.EntityFrameworkCore.MySql.dll
ArticleMVC/dist/SQLitePCLRaw.batteries_v2.dll
ArticleMVC/dist/SQLitePCLRaw.core.dll
ArticleMVC/dist/SQLitePCLRaw.provider.e_sqlite3.dll
ArticleMVC/dist/System.Composition.AttributedModel.dll
ArticleMVC/dist/System.Composition.Convention.dll
ArticleMVC/dist/System.Composition.Hosting.dll
ArticleMVC/dist/System.Composition.Runtime.dll
ArticleMVC/dist/System.Composition.TypedParts.dll
ArticleMVC/dist/System.Configuration.ConfigurationManager.dll
ArticleMVC/dist/System.Drawing.Common.dll
ArticleMVC/dist/System.IdentityModel.Tokens.Jwt.dll
ArticleMVC/dist/System.Memory.Data.dll
ArticleMVC/dist/System.Reflection.MetadataLoadContext.dll
ArticleMVC/dist/System.Runtime.Caching.dll
ArticleMVC/dist/System.Security.Cryptography.ProtectedData.dll
ArticleMVC/dist/System.Security.Permissions.dll
ArticleMVC/dist/System.Windows.Extensions.dll
ArticleMVC/dist/web.config
ArticleMVC/dist/af/Humanizer.resources.dll
ArticleMVC/dist/ar/Humanizer.resources.dll
ArticleMVC/dist/az/Humanizer.resources.dll
ArticleMVC/dist/bg/Humanizer.resources.dll
ArticleMVC/dist/bn-BD/Humanizer.resources.dll
ArticleMVC/dist/cs/Humanizer.resources.dll
ArticleMVC/dist/cs/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ArticleMVC/dist/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
ArticleMVC/dist/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ArticleMVC/dist/cs/Microsoft.CodeAnalysis.Features.resources.dll
ArticleMVC/dist/cs/Microsoft.CodeAnalysis.resources.dll
ArticleMVC/dist/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
ArticleMVC/dist/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
ArticleMVC/dist/da/Humanizer.resources.dll
ArticleMVC/dist/Data/article.db
ArticleMVC/dist/de/Humanizer.resources.dll
ArticleMVC/dist/de/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ArticleMVC/dist/de/Microsoft.CodeAnalysis.CSharp.resources.dll
ArticleMVC/dist/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ArticleMVC/dist/de/Microsoft.CodeAnalysis.Features.resources.dll
ArticleMVC/dist/de/Microsoft.CodeAnalysis.resources.dll
ArticleMVC/dist/de/Microsoft.CodeAnalysis.Scripting.resources.dll
ArticleMVC/dist/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
ArticleMVC/dist/el/Humanizer.resources.dll
ArticleMVC/dist/es/Humanizer.resources.dll
ArticleMVC/dist/es/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ArticleMVC/dist/es/Microsoft.CodeAnalysis.CSharp.resources.dll
ArticleMVC/dist/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ArticleMVC/dist/es/Microsoft.CodeAnalysis.Features.resources.dll
ArticleMVC/dist/es/Microsoft.CodeAnalysis.resources.dll
ArticleMVC/dist/es/Microsoft.CodeAnalysis.Scripting.resources.dll
ArticleMVC/dist/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
ArticleMVC/dist/fa/Humanizer.resources.dll
ArticleMVC/dist/fi-FI/Humanizer.resources.dll
ArticleMVC/dist/fr/Humanizer.resources.dll
ArticleMVC/dist/fr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ArticleMVC/dist/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
ArticleMVC/dist/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ArticleMVC/dist/fr/Microsoft.CodeAnalysis.Features.resources.dll
ArticleMVC/dist/fr/Microsoft.CodeAnalysis.resources.dll
ArticleMVC/dist/fr/Microsoft.CodeAnalysis.Scripting.resources.dll
ArticleMVC/dist/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
ArticleMVC/dist/fr-BE/Humanizer.resources.dll
ArticleMVC/dist/he/Humanizer.resources.dll
ArticleMVC/dist/hr/Humanizer.resources.dll
ArticleMVC/dist/hu/Humanizer.resources.dll
ArticleMVC/dist/hy/Humanizer.resources.dll
ArticleMVC/dist/id/Humanizer.resources.dll
ArticleMVC/dist/is/Humanizer.resources.dll
ArticleMVC/dist/it/Humanizer.resources.dll
ArticleMVC/dist/it/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ArticleMVC/dist/it/Microsoft.CodeAnalysis.CSharp.resources.dll
ArticleMVC/dist/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ArticleMVC/dist/it/Microsoft.CodeAnalysis.Features.resources.dll
ArticleMVC/dist/it/Microsoft.CodeAnalysis.resources.dll
ArticleMVC/dist/it/Microsoft.CodeAnalysis.Scripting.resources.dll
ArticleMVC/dist/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
ArticleMVC/dist/ja/Humanizer.resources.dll
ArticleMVC/dist/ja/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ArticleMVC/dist/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
ArticleMVC/dist/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ArticleMVC/dist/ja/Microsoft.CodeAnalysis.Features.resources.dll
ArticleMVC/dist/ja/Microsoft.CodeAnalysis.resources.dll
ArticleMVC/dist/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
ArticleMVC/dist/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
ArticleMVC/dist/ko/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ArticleMVC/dist/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
ArticleMVC/dist/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ArticleMVC/dist/ko/Microsoft.CodeAnalysis.Features.resources.dll
ArticleMVC/dist/ko/Microsoft.CodeAnalysis.resources.dll
ArticleMVC/dist/ko/Microsoft.CodeAnalysis.Scripting.resources.dll
ArticleMVC/dist/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
ArticleMVC/dist/ko-KR/Humanizer.resources.dll
ArticleMVC/dist/ku/Humanizer.resources.dll
ArticleMVC/dist/lv/Humanizer.resources.dll
ArticleMVC/dist/ms-MY/Humanizer.resources.dll
ArticleMVC/dist/mt/Humanizer.resources.dll
ArticleMVC/dist/nb/Humanizer.resources.dll
ArticleMVC/dist/nb-NO/Humanizer.resources.dll
ArticleMVC/dist/nl/Humanizer.resources.dll
ArticleMVC/dist/pl/Humanizer.resources.dll
ArticleMVC/dist/pl/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ArticleMVC/dist/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
ArticleMVC/dist/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ArticleMVC/dist/pl/Microsoft.CodeAnalysis.Features.resources.dll
ArticleMVC/dist/pl/Microsoft.CodeAnalysis.resources.dll
ArticleMVC/dist/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
ArticleMVC/dist/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
ArticleMVC/dist/pt/Humanizer.resources.dll
ArticleMVC/dist/pt-BR/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ArticleMVC/dist/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
ArticleMVC/dist/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ArticleMVC/dist/pt-BR/Microsoft.CodeAnalysis.Features.resources.dll
ArticleMVC/dist/pt-BR/Microsoft.CodeAnalysis.resources.dll
ArticleMVC/dist/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
ArticleMVC/dist/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
ArticleMVC/dist/ro/Humanizer.resources.dll
ArticleMVC/dist/ru/Humanizer.resources.dll
ArticleMVC/dist/ru/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ArticleMVC/dist/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
ArticleMVC/dist/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ArticleMVC/dist/ru/Microsoft.CodeAnalysis.Features.resources.dll
ArticleMVC/dist/ru/Microsoft.CodeAnalysis.resources.dll
ArticleMVC/dist/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
ArticleMVC/dist/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
ArticleMVC/dist/runtimes/alpine-arm/native/libe_sqlite3.so
ArticleMVC/dist/runtimes/alpine-arm64/native/libe_sqlite3.so
ArticleMVC/dist/runtimes/alpine-x64/native/libe_sqlite3.so
ArticleMVC/dist/runtimes/browser-wasm/nativeassets/net7.0/e_sqlite3.a
ArticleMVC/dist/runtimes/linux-arm/native/libe_sqlite3.so
ArticleMVC/dist/runtimes/linux-arm64/native/libe_sqlite3.so
ArticleMVC/dist/runtimes/linux-armel/native/libe_sqlite3.so
ArticleMVC/dist/runtimes/linux-mips64/native/libe_sqlite3.so
ArticleMVC/dist/runtimes/linux-musl-arm/native/libe_sqlite3.so
ArticleMVC/dist/runtimes/linux-musl-arm64/native/libe_sqlite3.so
ArticleMVC/dist/runtimes/linux-musl-x64/native/libe_sqlite3.so
ArticleMVC/dist/runtimes/linux-ppc64le/native/libe_sqlite3.so
ArticleMVC/dist/runtimes/linux-s390x/native/libe_sqlite3.so
ArticleMVC/dist/runtimes/linux-x64/native/libe_sqlite3.so
ArticleMVC/dist/runtimes/linux-x86/native/libe_sqlite3.so
ArticleMVC/dist/runtimes/maccatalyst-arm64/native/libe_sqlite3.dylib
ArticleMVC/dist/runtimes/maccatalyst-x64/native/libe_sqlite3.dylib
ArticleMVC/dist/runtimes/osx-arm64/native/libe_sqlite3.dylib
ArticleMVC/dist/runtimes/osx-x64/native/libe_sqlite3.dylib
ArticleMVC/dist/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
ArticleMVC/dist/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
ArticleMVC/dist/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
ArticleMVC/dist/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
ArticleMVC/dist/runtimes/win/lib/net6.0/System.Drawing.Common.dll
ArticleMVC/dist/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
ArticleMVC/dist/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
ArticleMVC/dist/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
ArticleMVC/dist/runtimes/win-arm/native/e_sqlite3.dll
ArticleMVC/dist/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
ArticleMVC/dist/runtimes/win-arm64/native/e_sqlite3.dll
ArticleMVC/dist/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
ArticleMVC/dist/runtimes/win-x64/native/e_sqlite3.dll
ArticleMVC/dist/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
ArticleMVC/dist/runtimes/win-x86/native/e_sqlite3.dll
ArticleMVC/dist/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
ArticleMVC/dist/sk/Humanizer.resources.dll
ArticleMVC/dist/sl/Humanizer.resources.dll
ArticleMVC/dist/sr/Humanizer.resources.dll
ArticleMVC/dist/sr-Latn/Humanizer.resources.dll
ArticleMVC/dist/sv/Humanizer.resources.dll
ArticleMVC/dist/th-TH/Humanizer.resources.dll
ArticleMVC/dist/tr/Humanizer.resources.dll
ArticleMVC/dist/tr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ArticleMVC/dist/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
ArticleMVC/dist/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ArticleMVC/dist/tr/Microsoft.CodeAnalysis.Features.resources.dll
ArticleMVC/dist/tr/Microsoft.CodeAnalysis.resources.dll
ArticleMVC/dist/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
ArticleMVC/dist/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
ArticleMVC/dist/uk/Humanizer.resources.dll
ArticleMVC/dist/uz-Cyrl-UZ/Humanizer.resources.dll
ArticleMVC/dist/uz-Latn-UZ/Humanizer.resources.dll
ArticleMVC/dist/vi/Humanizer.resources.dll
ArticleMVC/dist/wwwroot/ArticleApplication.styles.css
ArticleMVC/dist/wwwroot/favicon.ico
ArticleMVC/dist/wwwroot/css/site.css
ArticleMVC/dist/wwwroot/js/site.js
ArticleMVC/dist/wwwroot/lib/bootstrap/LICENSE
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap.css
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/js/bootstrap.js
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
ArticleMVC/dist/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
ArticleMVC/dist/wwwroot/lib/jquery/LICENSE.txt
ArticleMVC/dist/wwwroot/lib/jquery/dist/jquery.js
ArticleMVC/dist/wwwroot/lib/jquery/dist/jquery.min.js
ArticleMVC/dist/wwwroot/lib/jquery/dist/jquery.min.map
ArticleMVC/dist/wwwroot/lib/jquery-validation/LICENSE.md
ArticleMVC/dist/wwwroot/lib/jquery-validation/dist/additional-methods.js
ArticleMVC/dist/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
ArticleMVC/dist/wwwroot/lib/jquery-validation/dist/jquery.validate.js
ArticleMVC/dist/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
ArticleMVC/dist/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
ArticleMVC/dist/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
ArticleMVC/dist/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
ArticleMVC/dist/zh-CN/Humanizer.resources.dll
ArticleMVC/dist/zh-Hans/Humanizer.resources.dll
ArticleMVC/dist/zh-Hans/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ArticleMVC/dist/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
ArticleMVC/dist/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ArticleMVC/dist/zh-Hans/Microsoft.CodeAnalysis.Features.resources.dll
ArticleMVC/dist/zh-Hans/Microsoft.CodeAnalysis.resources.dll
ArticleMVC/dist/zh-Hans/Microsoft.CodeAnalysis.Scripting.resources.dll
ArticleMVC/dist/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
ArticleMVC/dist/zh-Hant/Humanizer.resources.dll
ArticleMVC/dist/zh-Hant/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ArticleMVC/dist/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
ArticleMVC/dist/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ArticleMVC/dist/zh-Hant/Microsoft.CodeAnalysis.Features.resources.dll
ArticleMVC/dist/zh-Hant/Microsoft.CodeAnalysis.resources.dll
ArticleMVC/dist/zh-Hant/Microsoft.CodeAnalysis.Scripting.resources.dll
ArticleMVC/dist/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
